<script type="text/x-handlebars-template" id="template"></script>
<div class="w-50 p-5 my-4 firstContainer">
    <h3 class="mb-4 text-center">Ingrese su producto</h3>
    <form id="formElement">
        <div class="d-grid col-10 mb-3 mx-auto">
            <label for="inputTitle" class="form-label fw-bold">Nombre:</label>
            <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp" autofocus>
        </div>
        <div class="d-grid col-10 mb-3 mx-auto">
            <label for="inputPrice" class="form-label fw-bold">Precio:</label>
            <input type="number" class="form-control" id="inputPrice">
        </div>
        <div class="d-grid col-10 mb-3 mx-auto">
            <label for="inputThumbnail" class="form-label fw-bold">URL:</label>
            <input type="text" class="form-control" id="inputThumbnail">
        </div>
        <div class="d-grid col-10 mb-3 mx-auto">
            <button type="button" id="submitButton" onclick="sendNewProduct()" class="btn btn-success">Enviar</button>
        </div>
    </form>
    <div id="successAlert" class="alert alert-success alert-dismissible fade" role="alert">
        <strong>Exito!</strong> Su producto <span id="productName" class="fw-bold"></span> fue guardado.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<div class="w-50 p-5 firstContainer">
    <h3 class="mb-4 text-center">Listado</h3>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody id="productContainer">

        </tbody>
    </table>
</div>


<script type="text/x-handlebars-template" id="template">
    {{#each products}}
    <tr class="product-list">
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td><img class="mx-auto imgTable" src="{{this.thumbnail}}" /></td>
    </tr>
    {{/each}}
</script>
<script src="/index.js"></script>
